/* настройки и подключение шрифтов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* настройка html */
html{
    font-size: 20px;
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Bold.woff") format("woff"),
        url("..fonts/OpenSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Regular.woff") format("woff"),
        url("..fonts/OpenSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
/* фоновая картинка и настройки шрифта */
.top-menu {
    background-image: url("../images/banner-bg.jpg");    
    background-color: #535852;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 0 230px;
    position: relative;
    font-size: 13px;    
}
/* ширина логотип */
.top-menu__logo{    
    width: 13.846154em;
}
/* настройки размеров заголовка лого и меню навигации*/
.top-container {
    max-width: 1200px;    
    margin: 0 auto;
    padding: 35px 15px;
}
/* настройки расположения лого и меню навигации */
.top-menu__container {
    display: flex;    
    justify-content: space-between;
    align-items: center;   
    position: relative;    
    z-index: 10;
}
/* затемнение */
.top-menu:after { 
    content: "";      
    background-color: #0f0d0e;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: 5;     
}
/* скрытие кнопки бургера меню смартфон */
.menu-button__mob {
    display: none;
}
/* скрытие кнопки бургера планшета */
.menu-button__tab {
    display: none;
}
/* ссылки */
.top-menu__links {
    display: flex;
    list-style-type: none;    
}
/* оформление ссылок */
.top-menu__link {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;    
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;       
}
/* отступы навигации */
.top-menu__item {
    margin-right: 35px;
}
.top-menu__item:last-child {
    margin-right: 0;
}

/* выделения ссылок */
.top-menu__link:hover {
    color: #fce38a;
}
/* заголовок */
.top-menu__header {
    display: block;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 45px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 10;    
    margin-left: auto;
    margin-right: auto;    
    padding: 110px 235px 100px 250px;
    font-weight: bold;
}

/* блок тренд */
.trend__container {
    margin-top: 3rem;
}
/* заголовок */
.trend-header {
    text-align: center;
    margin-bottom: 1rem;
}
/* полоска у заголовка тренда */
.trend-header:after {
    content: "";
    display: inline-block;    
    background-color: #b59f5b;
    width: 66px;
    height: 3px;
}
/* заголовки основные */
.main-tittle__black {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #0f0d0e;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;    
}
/* флекс постов */
.trend-posts {
    display: flex;
}
/* основа поста трендов и расположение заголовка трендов  */
.trend-post{
    background-color: #535852;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    width: calc(25% - 0.25%);
    min-height: 320px;
    display: flex;
    align-items: flex-end;
    padding: 0 1% 1% 1%;    
}
/* отступы постов в тренде */
.trend-post:nth-child(n+2){
    margin-left: 0.25%;
}
/* затемнение трендов*/
.trend-post:after { 
    content: "";      
    background-color: #0f0d0e;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: 5;     
}
/* рамка поста */
.trend-post__header {
    border: 3px solid #7b6e45;
    padding: 10%;
    position: relative;
    z-index: 10;
    flex-grow: 1;
}
/* фоновые рисунки трендов */
.post-1 {
    background-image: url("../images/trend1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.post-2 {
    background-image: url("../images/trend2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.post-3 {
    background-image: url("../images/trend3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.post-4 {
    background-image: url("../images/trend4.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/* настройка тегов */
.trend-post_listtags {
    display: flex;
    list-style-type: none; 
}
/* отступы тегов */
.trend-post__tags:nth-child(n+2) {
    margin-left: 7%;
}
/* настройка шрифта основных тегов */
.main-tag {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #b59f5b;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    z-index: 10;
}
/* настройка шрифта заголовка темы трендов */
.main-tittle__white {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    z-index: 10;
}
/* выравнивание страницы */
.page {    
    margin-left: auto;
    margin-right: auto;
    
}
/* настройки расположения контента на странице*/
.content {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    padding: 0 15px;
}
/* основной блок */
.maincontent {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;       
    flex-wrap: wrap;  
}
/* контейнер одной статьи */
.maincontent-container {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}
/* убирание оступа последней статьи */
.maincontent-container:last-child {
    margin-bottom:0;
}
/* тематические теги */
.main-menu__tags {
    display: flex;
    list-style-type: none;    
}
/* отступы тегов */
.maincontent-article__tags:nth-child(n+2) {
    margin-left: 1.25rem;    
}
/* настройки фонового изображения */
.maincontent-article__img {
     margin-right: 30px;    
}
/* настройки картинок статьи */
.main_images {
    background-color: #eff6f1;
    background-size: 377px;
}
/* оступы заголовка статьи */
.maincontent-article__header {
    margin-top: 15px;
}
/* контейнер даты и автора */
.time-author__container {
    margin-top: 30px;
    margin-bottom: 50px;
}
/* авторы каждой статьи */
.article-author {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: #0f0d0e;
    font-weight: bold;
    margin-left: 1rem;
}
/* настройка даты */
.maincontent-article__time {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: #888888;
}
/* основной текст */
.maincontent-article__text {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #0f0d0e;    
}
/* дополнительный контент */
/* ширина aside */
.addcontent {    
    min-width: 270px;
    margin-left: 120px;    
}
/* настройки контейнера дополнительного конента контейнера */
.addcontent-container__posts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/* заголовки сайдбара */
.sidebar-tittle{
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #0f0d0e;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;  
}
/* выравнивание заголовков */
.addcontent-container__header {
    text-align: center; 
}
/* полоска */
.addcontent-container__header:after {    
    content: "";
    display: inline-block;    
    background-color: #b59f5b;
    width: 66px;
    height: 3px;    
}
/* настройка блока сайд статей */
.addcontent-article__container {    
    display: flex;        
}
/* оступы сайд статей */
.addcontent-article__container:nth-child(n+2) {
    margin-top: 25px;
}
/* дата сайд статей */
.addcontent-article__time {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: #888888;
}
/* настройка сайд изображений */
.addcontent-article__img {
    margin-right: 20px;
    display: flex;
}
/* ширина сайд изображения */
.add__images {
    width: 70px;
}
/* поле поиска */
.search {
    margin-top: 60px;
}
/* настройка поиска */
.field__search {
    width: 81%;
    height: 50px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color: #0f0d0e;
    background-color: #f4f7f6;
    border: none;
    padding: 18px 20px;    
}
/* кнопка поиска */
.button_search {
    position: absolute;
    width: 50px;
    height: 50px;         
    background-color: #b59f5b;
    border: none;
}
/* иконка кнопки поиска вместо текста */
.button_search::before {
    content:"";
    position: absolute;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
}
/* поле рассылки */
.addcontent-container__mailing {
    margin-top: 3rem;
}
/* оступ рассылки */
.email {
    margin-top: 20px;
}
/* поле почты */
.field__email {
    display: inline-block;
    width: 100%;
    height: 50px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color: #0f0d0e;
    background-color: #f4f7f6;
    border: none;
    padding: 18px 20px;  
}
/* кнопка почты */
.button_email {
    display: inline-block;
    width: 100%;
    height: 50px;         
    background-color: #b59f5b;
    border: none;
    margin-top: 20px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}
/* теги */
/* верхний оступ контейнера тегов */
.addcontent-container__tags {
    margin-top: 3rem;
}
/* правый оступ  тегов */
.addcontent-list__tags {
    margin-top:15px;
}
/* настройка тегов */
.addcontent__tags {
    display: inline-block;
    border: 2px solid #eeeeee;
    padding: 5px 10px;
    margin-top: 5px;
}
.addcontent__tags:nth-child(n+2) {
    margin-right: 2px;
}
/* шрифт тегов */
.addcontent__tag {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: #0f0d0e;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
/* темы */
/* верхний оступ контейнера */
.addcontent-container__themes {
    margin-top: 3rem;  
}
/* отступ контейнера тем */
.addcontent-list__themes {
    margin-top: 15px;
}
/* оступ каждой темы */
.addcontent__themes {
    list-style-type: none;    
    padding-bottom: 15px;
}
/* убирание последнего отступа темы */
.addcontent__themes:last-child {
    padding-bottom: 0;
}
/* настройка шрифта тем */
.addcontent__theme {
    display: block;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #0f0d0e;
    font-weight: bold;    
    text-decoration: none;
    border-bottom: 1px solid #eeeeee;    
}
/* число у каждой темы */
.addcontent-theme__degree {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: #b59f5b;
    vertical-align: super;
    margin-left: 5px;
}
/* скрытие текста в кнопках поиска и иконках */
.social-network__text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* наши изделия */
.production__container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
/* заголовк изделий */
.production-header {
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 30px;
}
/* полоска изделия */
.production-header:after {
    content: "";
    display: inline-block;    
    background-color: #b59f5b;
    width: 66px;
    height: 3px;
}
/* ссылки изделия */
.produciton-link {
    text-decoration: none;
    color: #b59f5b;
}
/* контейнер изделий */
.production-posts {
    display: flex;
    margin-left: auto;
    margin-right: auto;      
}
/* флекс для выравнивания рамки по одной выосте */
.production-post {
    display: flex;
    flex-direction: column;
}

/* изделия цена и кнопка */
.production-post__shop {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    margin-top: 25px;    
}
/* зачеркивание цены */
.line {
    text-decoration: line-through;
}
/* кнопка в магазин */
.button_shop {    
    width: 140px;
    height: 50px;         
    background-color: #b59f5b;
    border: none;    
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}
/* отступы изделий */
.production-post:nth-child(n+2) {
    margin-left: calc((100% - (350px*3))/2);
}
/* расположение картинки изделий */
.production-post__img {
    padding: 0 25px;
    margin-bottom: -30px;
    position: relative;
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
}
/* рамка и отступы текста изделий */
.production-post__card {
    border: 3px solid #b59f5b;
    padding: 55px 20px 25px 20px;
    position: relative;
    z-index: 10;
    flex-grow: 1;
}

/* нижний колонтитул_контакты */ 
.social-networks__block {    
    background-color: #f4f7f6;    
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin: 3.25rem 0;
}
/* настройка колонтитула */
.social-networks {
    display: flex;
    justify-content: center;
}
/* отступы ссылок */
.social-network__links {
    list-style-type: none;    
    margin-right: 30px;
}
/* настройка каждой ссылки */
.social-network__link {
    display: block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}
/* убиране отсупа последней ссылки */
.social-network__links:last-child {
    margin-right: 0px;
}
/* иконки ссылок */
.sosocial-network__twitter {
    background-image: url("../svg/004-twitter.svg");    
}
.sosocial-network__printerest {
    background-image: url("../svg/001-pinterest.svg");
}
.sosocial-network__tumblr {
    background-image: url("../svg/003-tumblr.svg");
}
/* скрытие текстового описания ссылок */
.social-network__text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* копирайт */
.copyright {
    display: block;
    margin:  0 245px ;
    text-align: center;
}
.copyright-link {
    text-decoration: none;
}
/* копирайт настройка текста */
.copyright__text {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;    
    font-size: 12px;
    font-weight: bold;
    color: #999999;    
}
/* popup */
.popup-fade__hiden {    
    display: none;
}
/* затемнение заднего фона */
.popup-fade__hiden::before {
    content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.6;
	z-index: 20;    
}
/* расположение и размер popup */
.popup {
    position: fixed;
    width: 390px;
    top: 20%;
	left: calc(50% - 195px);
    z-index: 50;
    background: #fff;
    padding: 50px 30px; 
    overflow-y: auto;
    height: 90%;
    max-height: 700px;
}


/* оступы между блоками внутри */
.popup-content {
    margin: 30px 0;    
}
/* заголовок popup */
.popup-header {
    text-align: center;    
}
/* линия после заголовка */
.popup-header::after {
    content: "";
    display: inline-block;    
    background-color: #b59f5b;
    width: 66px;
    height: 3px;    
}
/* расположения на всю ширину */
.popup-block {
    display: block;
    margin-bottom: 10px;
}
/* поле выбора частоты посещения */
.select-visiting {
    -webkit-appearance: none;
	-moz-appearance: none;
    background-color: #f3f7f6;
    width: 100%;
    padding: 15px 15px;
    margin-top: 10px;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 10px;
    border: none;
    min-height: 40px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #0f0d0e; 
}
/*  настройка выбора рассылки*/
.popup-inlineblock {
    display: inline-block;
    margin-right: 15px;
}
/* замена на пустой круг в поле выбора */
.popup-inlineblock::before {
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    vertical-align: bottom;
    margin-right: 5px;
}
/* вырезание предыдущего кружка */
.radio {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
}
/* активное поле выбора */
.radio:checked ~ .popup-inlineblock::before {
    background-image: url("../svg/form-circle.svg");
}
/* настройка комментария */
.text-area__field {
    background-color: #f3f7f6;
    width: 100%;
    min-height: 130px;
    border: none;
    resize: none;
    padding: 20px;
}
/* расположения кнопки закрытия popup */
.popup-close {
    position: fixed;
    right:calc(50% - 195px);
    top: calc(20% - 25px);
    z-index: 50;    
    border: none;
    background-color: transparent;    
}
/* замена кнопки на крестик закрытия */
.popup-close::before {
    display: inline-block;
    content: "";    
    background-image: url(../svg/form-x.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    width: 20px;
    height: 20px;
}



/* верстка для планшета */
@media (min-width: 641px) and (max-width: 1200px) {
    /* настройка html */
    html{
        font-size: 15px;
    }
    
    /* фоновая картинка и настройки шрифта */ 
    .top-menu {
        background-image: url("../images/banner-bg-tablet.jpg");    
        padding: 50px 35px 125px 35px;        
    }

    .top-menu__container {        
        padding:0;        
    }
    
    /* скрытие списка ссылок */
    .top-menu__links {
        display: none;
    }

    /* кнопка бургер */
    .menu-button__tab {
        display: flex;  
        width: 23px;
        height: 20px;
        border: none;
        background-color: transparent;        
        position: relative;
        text-indent: -9999px;        
    }
    /* риссовка верхней полосы */
    .menu-button__tab::before {
        content: "";
        width: 100%;
        height: 20%;        
        background-color: #ffffff;
        position: absolute;
        left: 0;
        top: 0;
    }
    /* рисовка нижней полосы */
    .menu-button__tab::after {
        content: "";
        width: 100%;
        height: 20%;        
        background-color: #ffffff;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    /* рисовка центральной полосы */
    .menu-button__label {
        width: 100%;
        height: 20%;               
        background-color: #ffffff;
        position: absolute;
        left: 0;
        top: calc(50% - 10%);
    }
    /* изменение размеров основного заголовка */
    .top-menu__header {        
        font-size: 40px;
        padding: 100px 80px 0 45px;
    }
    /* основа поста трендов
    расположение заголовка трендов  */
    .trend-posts {
        flex-wrap: wrap;
    }
    .trend-post{        
        width: calc(50% - 0.39%);
        min-height: 250px;        
        padding: 0 1% 1% 1%;        
    }
    .trend-post:nth-child(n+1) {
        margin-left: 0;
    }
    .trend-post:nth-child(2n+2){
        margin-left: 0.39%;
    }
    .trend-post:nth-child(n+3) {
        margin-top: 0.39%;
    }
    .main-tittle__white {        
        font-size: 18px;        
    }
    .main-tittle__black {
        font-size: 18px;
    }
    /* настройки основного блока */
    .content {
        padding: 0 35px;
        margin-left: 0;
        margin-right: 0;         
    }
    /* основной блок */
    .maincontent-container {
        flex-direction: column;        
    }
    /* полоса у статей */
    .maincontent-container::after{
        content: "";
        display: inline-block;    
        background-color: #eeeeee;
        width: 100%;
        height: 4px;
    }
    /* убирание последней полоски */
    .maincontent-container:last-child:after {
        display: none;
    }
    /* убирание отсупа картинок статей */
    .maincontent-article__img {
        margin-right: 0;
    }
    /* настройка резиновости изображений статей */
    .main_images {
        width: 100%;
    }
    /* оступы статей */
    .maincontent-article {
        margin-top: 1rem;
    }
    /* оступы авторов и время */
    .time-author__container {
        margin-bottom: 35px;
    }
    /* отступ между текстом статьи и полосой */
    .maincontent-article__text {
        padding-bottom: 20px;
    }
    /* оступ aside */
    .addcontent {
        margin-left: 35px;
    }
    /* настройки продукции */
    .production__container {
        padding: 0 35px; 
    }
    .production-posts {        
        flex-wrap: wrap;           
    }
    .production-post {
        width: calc(50% - 25px);
    }
    .production-post__img {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;                
    }
    .svg-img {
        width: 100%;
    }
    .production-post:nth-child(n+2) {
        margin-left: 0px;
    }    
    .production-post:first-child {
        margin-right: 22px;
    }
    .production-post:last-child {
        margin-top: 25px;
    }
    /* ширина нижнего колонтитула */
    .contacts {        
        margin-left: 35px;
        margin-right: 35px;
    }
    .copyright {
        margin: 0 0 35px 0;
    }
}
/* верстка для планшета в горизонтальном положении */
@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
    .trend-posts {
        flex-wrap: nowrap;
    }
    .trend-post{        
        width: calc(25% - 0.25%);
        min-height: 320px;
        padding: 0 1% 1% 1%;     
        /* padding: 0 20px 15px 20px; */
    }
    .trend-post:nth-child(n+3) {
        margin-top: 0;
    }
    /* отступы постов в тренде */
    .trend-post:nth-child(n+2){
        margin-left: 0.25%;
    }
}
/* верстка для мобильного устройства */
@media (max-width: 641px) {
    /* настройка html */
    html{
        font-size: 15px;
    }    
    
    /* фоновая картинка и настройки шрифта */ 
    .top-menu {
        background-image: url("../images/banner-mobile.jpg");    
        padding: 220px 15px 220px 15px;         
    }
    .top-menu__logo{    
        width: 18rem;        
    }
    .top-container {
        padding: 0 15px;   
    }
    .top-menu__container {        
        flex-direction: column;        
        padding: 0;
        margin: 0 auto 40px auto;
    }   
    
    /* скрытие списка ссылок */
    .top-menu__links {
        display: none;
    }

    /* кнопка бургер */
    .menu-button__mob {
        display: flex;  
        width: 23px;
        height: 20px;
        border: none;
        background-color: transparent;        
        position: absolute;
        text-indent: -9999px;
        z-index: 10;
        top: 30px;
        right: 15px;       
    }
    /* верхняя полоска */
    .menu-button__mob::before {
        content: "";
        width: 100%;
        height: 20%;        
        background-color: #ffffff;
        position: absolute;
        left: 0;
        top: 0;
    }
    /* нижняя полоска */
    .menu-button__mob::after {
        content: "";
        width: 100%;
        height: 20%;        
        background-color: #ffffff;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    /* средняя полоска */
    .menu-button__label {
        width: 100%;
        height: 20%;               
        background-color: #ffffff;
        position: absolute;
        left: 0;
        top: calc(50% - 10%);
    }
    .top-menu__header {        
        font-size: 26px;
        padding: 0;
        text-align: center;
    }
    /* основа поста трендов
    расположение заголовка трендов  */
    .trend-posts {
        flex-wrap: wrap;
    }
    .trend-post{        
        width:100%;
        min-height: 230px;
        padding: 0 20px 15px 20px;                  
    }   
    .trend-post:nth-child(n+2) {
        margin-left: 0;
    } 
    .trend-post:nth-child(n+2) {
        margin-top: 0.39%
    }
    .main-tittle__white {        
        font-size: 16px;        
    }
    .main-tittle__black {
        font-size: 16px;
    }
    .content {        
        padding: 0 15px;
        flex-direction: column;                 
    }    
    .maincontent-container {
        flex-direction: column;                  
    }
    .maincontent-article__img {
        width: 100%;
    }
    .main_images {        
        margin-bottom: 15px;
        width: 100%;
    }
    .time-author__container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .maincontent-article__text {
        font-size: 14px;
        padding-bottom: 20px;
    }
    .maincontent-article__img {
        margin-left: auto;
        margin-right: auto;
    }
    /* полоса у статей */
    .maincontent-container::after{
        content: "";
        display: inline-block;    
        background-color: #eeeeee;
        width: 100%;
        height: 4px;
    }    
    /* убирание последней полоски */
    .maincontent-container:last-child:after {
        display: none;
    }    
    .addcontent {
        margin-left: 0;
        margin-top: 3rem;        
    }
    .addcontent-themes:last-child {
        padding-bottom: 0;
    }
    .production__container {
        padding: 0 15px;
    }
    .production-posts {        
        flex-wrap: wrap;
    }
    .production-post {
        width: 100%;
    }
    
    .production-post__img {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;                       
    }
    .svg-img {
        width: 100%;
    }
    
    .production-post:nth-child(n+2) {
        margin-left: 0px;
        margin-top: 25px;
    }    
    /* ширина нижнего колонтитула */
    .contacts {       
        margin-left: 15px;
        margin-right: 15px;
    }
    .copyright {
        margin: 0 0 45px 0;
    }
    .popup {        
        width: 330px;
        top: 10%;
        left: calc(50% - 165px);       
        padding: 30px;    
    }
    .popup-close {        
        right:calc(50% - 165px);
        top: calc(10% - 30px);         
    }
    .popup-close::before {
        background-size: 30px;
        width: 30px;
        height: 30px;
    }
}
/* верстка для мобильного устройства и горизонтального положения */
@media (max-width: 641px) and (orientation: landscape) {
    .content {
        margin-left: auto;
        margin-right: auto;
    }
    .trend-posts {
        flex-wrap: wrap;
    }
    .trend-post{        
        width: calc(50% - 0.39%);
        min-height: 250px;        
        padding: 0 20px 15px 20px;        
    }
    .trend-post:nth-child(n+2) {
        margin-top: 0;
    }
    .trend-post:nth-child(n+1) {
        margin-left: 0;
    }
    .trend-post:nth-child(2n+2){
        margin-left: 0.39%;
    }
    .trend-post:nth-child(n+3) {
        margin-top: 0.39%;
    }    
}
